body.home{
    overflow-y: hidden;
}
.bs-body-color {
color: navajowhite
}

/************************************************ Header */ 

.bg-primary {
    background-color: transparent !important;
}
.navbar-nav, .nav-link, .navbar-dark {
    color: whitesmoke !important;
}


/************************************************* Content */
.wpe-content {
    min-height:85vh;
    color:navajowhite !important;
} 

@import "./wpe_front_page";
@import "./wpe_footer";




