/************************************************* Footer  */
.site-footer .wpe-footer a {
    color: whitesmoke;
    text-decoration: none;
}
#footer-menu  {
    display: flex;
    color: whitesmoke;
    list-style: none;
}
#footer-menu li {
    padding-right: 10px;
}


.wpe-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}